/* background attachment style */
h2 {
  text-align: center;
  margin-top: 48px;
}

div {
  height: 200px;
  width: 50%;
  max-width: 600px;
  margin: 32px auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.scroll {
  background: url("https://i.pinimg.com/564x/9e/ad/a8/9eada885b7915eab4558d674e7e8f6da.jpg");
  background-attachment: scroll;
}

.fixed {
  background: url("https://i.pinimg.com/564x/9e/ad/a8/9eada885b7915eab4558d674e7e8f6da.jpg");
  background-attachment: fixed;
}

.local {
  background: url("https://i.pinimg.com/564x/9e/ad/a8/9eada885b7915eab4558d674e7e8f6da.jpg");
  background-attachment: local;
}

.expand {
  height: 400px;
  width: 100%;
}
.space {
  margin-bottom: 10px;
}
