@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
section {
  background-color: rgb(200, 219, 255);
  padding: 20px;
  /* padding: 20px 20px; */
  /* top right bottom left */
  /* padding: 20px 10px 20px 50px; */
  border-radius: 10px;
  width: 50%;
  margin: auto;
}
h1 {
  margin: 0;
  text-align: center;
  font-variant: small-caps;
  color: darkblue;
}
span {
  text-transform: uppercase;
  color: darkblue;
  letter-spacing: 2px;
}
button {
  background-color: rgb(87, 179, 255);
  color: white;
  border-radius: 4px;
  padding: 4px 6px;
  border: none;
  letter-spacing: 2px;
}
small {
  font-family: "Reddit Mono", monospace;
}
