.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
}
.box {
  background-color: #6466e9;
  border-radius: 8px;
  color: white;
  display: grid;
  place-content: center;
}
.box4,
.box7 {
  background-color: #a8b4f6;
  grid-column: span 2;
}
